*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    min-height: 120vh;
    background-color: hsl(0, 0%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: hsl(0, 0%, 94%);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 45%;
    min-height: 50%;
    padding: 20px;
    border-radius: 10px 10px 100px 10px;
}

.input-date{
    min-width: 60%;
    padding: 10px 0 30px 0;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px hsl(0, 0%, 94%);
    align-items: center;
    justify-self: flex-start;
}

.input-box{
    max-width: 29%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.input-box label{
    font-size: 0.6rem;
    padding-bottom: 5px;
    letter-spacing: 2px;
}
.input-box input{
    text-indent: 10px;
    font-size: 1.5rem;
    min-height: 40px;
}
.input-box .error-msg{
    color: hsl(0, 100%, 67%);
    font-size: 0.5rem;
    letter-spacing: 0;
    font-style: italic;
    padding-top: 2px;
    display: none;
}

form{
    flex-direction: row;
    display: flex;
}
.buttton img{
    display: flex;
    max-width: 1.5rem;
    padding: 10px;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
}
button{
    background-color: transparent;
    border: none;
    transform: translate(-10px, 50px);
    cursor: pointer;
}

.display{
    font-size: 3rem;
    padding: 0px;
    font-style: italic;
}
.display-box{
    align-items: center;
    display: flex;
}
.display-year, .display-month, .display-day{
    color: hsl(259, 100%, 65%);
    font-size: 3.5rem;
    padding-right: 10px;
}

@media (max-width:500px){
    .input-box input{
        font-size: 1rem;
    }
    .display{
        font-size: 3rem;
    }
    .display-year, .display-month, .display-day{
        font-size: 3rem;
    }
    .container{
        padding-right: 20px;
        max-width: 80%;
    }
    .input-box label{
        color: hsl(0, 1%, 44%);
    }
}